:root {
  --color-text: #000000;
  --color-background-main: #FFFFFF;
  --color-accent: #009879;
  --color-accent-dark: #036451;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: var(--color-text);
  background-color: var(--color-background-main);
}

.app {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    margin: 0;
    text-align: center;
  }

  &__main {
    flex-grow: 1;
  }
}

.users {
  &__table {
    width: 1200px;
    margin: 0 auto;
  }
}
